name: Run

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/workflows/run.yml
      - '**.ts'
      - deno.json
      - deno.lock

concurrency:
  group: ${{ github.workflow }}

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v1.42.4
      - run: deno --version
      - uses: actions/checkout@v5
      - name: Follow & Unfollow
        run: |
          deno task follow
          deno task follow-followers
          deno task follow-sleepers
          deno task unfollow
          deno task prune
        env:
          NOSTR_PRIVATE_KEY: ${{ secrets.NOSTR_PRIVATE_KEY }}
      - uses: snow-actions/git-config-user@v1.0.0
      - name: Commit
        id: commit
        run: |
          set -x
          if ! git diff --exit-code --name-only docs/contacts.json; then
            echo "updated=true" >> $GITHUB_OUTPUT
          fi
          if ! git diff --exit-code docs/; then
            git add docs/
            git commit -m 'Update'
            git push
          fi
      - name: Send to global relays
        run: |
          deno task send
        if: ${{ steps.commit.outputs.updated == 'true'}}
      # FIXME
      # - name: Send to Japanese relays
      #   run: |
      #     curl -X POST -u "${NOSTR_WEBHOOK_BASIC_AUTH}" -H "Content-Type: application/json" -d @docs/contacts.json https://nostr-webhook.compile-error.net/post
      #   env:
      #     NOSTR_WEBHOOK_BASIC_AUTH: ${{ secrets.NOSTR_WEBHOOK_BASIC_AUTH }}
      #   if: ${{ steps.commit.outputs.updated == 'true'}}
